<h3>Comment Listing</h3>
<p *ngIf="comments.length ==0">No Comments Available</p>
<div *ngIf="comments.length !=0">
    <p>Last Comment by {{ lastAuthorName }}</p>

    <div class="comment-item" *ngFor="let comment of comments">
        <hr />
         {{comment.author}} said {{comment.comment}}
        <hr />
    </div>
</div>
